:root {
    --bg_color: rgb(56, 52, 52);
    --link_color: rgb(207, 204, 204);
    --link_home: rgb(255, 174, 0);
    /*spaces*/
    --s: .625rem;
    --m: 1.25rem;
    --lg: 3.125rem;
    /*containers*/
    --container_sd: 75rem;
}